let flows = new Map();
{% for flow in outgoingSequenceFlows %}

{% endfor %}


if(flows.size > 0){
    // await this.bulkCreateSequenceFlow(Array.from(flows.values()));
}
{% for flow in outgoingSequenceFlows %}

{% endfor %}
