async fn_{{nodeContext.name}} (flowModel) {

  if(this.__metaInfo.endNodeIsReached ){
    Logger.debug(`Process Instance: ${this.__metaInfo.processInstanceId} is either has reached an end node or it was aborted or failure occurred!`);
    return;
  }

  if(this.__metaInfo.parentProcessInstance !== undefined &&  this.__metaInfo.parentProcessInstance.__metaInfo.endNodeIsReached){
    Logger.debug(`Parent Process Instance: ${this.parentProcessInstance.__metaInfo.processInstanceId} has reached an end node`);
    return;
  }

  let __localMethodContext = {
    nodeSession: crypto.randomUUID(),
    nodeId: '{{ nodeContext.id }}',
    nodeName: '{{ nodeContext.name }}',
    type: '{{ nodeContext.type }}',
    incomingFlowId: flowModel?.id
  }
  Logger.debug(`visiting node {{ nodeContext.id }}, session: ${__localMethodContext.nodeSession}`);

{% if nodeContext.stopAfterFirstCallToTreatWebhooksLikeNodes !== true and nodeContext.type !== 'SubProcess'%}
  try {

    {{ nodeContext.body }}
    {% include "build.method.next.calls.njk" %}
    await this.variables.saveContext();

  } catch (_bpmnProcessorException) {
    Logger.error(_bpmnProcessorException)
    const stack = _bpmnProcessorException.stack;
    throw new Error(JSON.stringify({ stacktrace: stack, context: __localMethodContext }));
  }
  {% endif %}

}

